.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#user-input {
    width: 50%;
}
#user-input input{
    width: 100%;
}

#msg-board {
    border: 1px solid;
    height: 20em;
    width: 75%;
    margin: auto;
}