// Navigation
.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
#input-container {
    width: 50%;
}
#input-container input{
    width: 100%;
}


// Message Board
#msg-board {
    border: 1px solid;
    height: 20em;
    width: 75%;
    margin: auto;
    overflow-y: scroll;
}


// Individual Messages
.msg{
    margin: .75em 1em;
}
.msg p {
    display: inline;
}
.newMsg{
    text-align: right;
}


// Dark Theme
 .darkTheme {
     background-color: #191d22;
     color: white;
     text-shadow: 1px 1px 1px lightgray;
     button {
         background: 
     }
     
 }



