// Navigation
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    /* overflow: hidden; */
    padding: 0em;
    background-color: white;
}
.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
#input-container {
    width: 50%;
}
#input-container input{
    width: 100%;
}
#checkBoxes {
    text-align: center;
}

// Main Content under Nav
.main-content{
    margin-top: 5em;
}


// Message Board
#msg-board {
    border: 1px solid;
    height: 20em;
    width: 75%;
    margin: auto;
    overflow-y: scroll;
}


// Individual Messages
.msg{
    margin: .75em 1em;
}
.msg p {
    display: inline;
}
.newMsg{
    text-align: right;
}